body {
  background-color: #2F2F2F;
}
.BoxA {
  background-color: #aa2222;
  transform:scale(0.8);
  margin: auto;
  width: 50%;
  border-radius: 75px;
  /*height: 75%;*/
  transition: 250ms ease-in-out;
  text-decoration: none;
}

.BoxA:hover {
  background-color: #ee9988;
  border-radius: 20px;
  transform:scale(0.9);
  text-decoration: none;
}

a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
}

.e {
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding: 3px;
  font-size: 20px;
}

.o {
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding: 2px;
  font-size: 12px;
}

.TextA {
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
  font-size: 30px;
}

.ltg {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.pcheck {
  text-align: center;
  color: grey;
  font-family: sans-serif;
}

.bday1 {
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
  font-size: 70px;
}

.bday2 {
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding: 5px;
  font-size: 40px;
  text-decoration: line-through;
}

.bday3 {
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
  font-size: 70px;
}

.bday4 {
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
  font-size: 70px;
}

.bday5 {
  color: white;
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
  font-size: 70px;
}

#p5_loading {
  background-color: yellow;
  color: black;
  box-sizing: border-box;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

#loadingtext {
  font-family: sans-serif;
  padding: 20px;
  font-size: 70px;
  text-align: center;
}

#fixed {
overflow: hidden;
-webkit-overflow-scrolling: touch;
}
